.venv/
__pycache__/
*.pyc
.streamlit/secrets.toml
chroma_db/
*.egg-info/
.env
.chroma_db/
.chroma_db_local/
.chroma_db_cfpb/
.chroma_db_multimodal/
.chroma_db_test/

# Exclude full datasets
data/csv_data/cfpb_credit_card.csv
data/csv_data/fraudTrain.csv
data/csv_data/fraudTest.csv
data/user_uploads/

# Allow sampled datasets for GitHub
!data/csv_data/*_sampled.csv

*.log
*.joblib
.DS_Store
artifacts/*.joblib
logs/trajectories.jsonl
logs/pipeline_logs.csv
